.header
  - if user_signed_in?
    %a{href: "/"} Home
    = '|'
    %a{href: "/teachers"} Our Teachers
    = '|'
    %a{href: "/lectures"} Lectures
    = '|'
    %a{href: "/contact"} Contact us
    = '|'
    = "#{current_user.email} |"
    = link_to t('profile'), edit_user_registration_path
    = '|'
    = link_to t('logout'), destroy_user_session_path, method: 'delete'
  - else
    %a{href: "/"} Home
    = '|'
    %a{href: "/teachers"} Our Teachers
    = '|'
    %a{href: "/lectures"} Lectures
    = '|'
    %a{href: "/contact"} Contact us
    = '|'
    = link_to t('login'), new_user_session_path
    = '|'
    = link_to t('sign_up'), new_user_registration_path
