= form_for @teacher do |f|
  - if @teacher.errors.any?
    #error_explanation
      %h2= "#{pluralize(@teacher.errors.count, "error")} prohibited this teacher from being saved:"
      %ul
        - @teacher.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :lastName
    = f.text_field :lastName
  .field
    = f.label :dob
    = f.date_field :dob
  .field
    = f.label :tchyears
    = f.text_field :tchyears
  .field
    = f.label :description
    = f.text_area :description
  .field
    = f.label :email
    = f.text_field :email
  .actions
    = f.submit 'Save'
